In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

# New section

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/heart.csv')
data

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

# New section

In [ ]:
data.drop(['age','sex','cp','fbs','restecg','exang','slope','ca','thal'],axis=1,inplace=True)

In [ ]:
data

     trestbps  chol  thalach  oldpeak  target
0         145   233      150      2.3       1
1         130   250      187      3.5       1
2         130   204      172      1.4       1
3         120   236      178      0.8       1
4         120   354      163      0.6       1
..        ...   ...      ...      ...     ...
298       140   241      123      0.2       0
299       110   264      132      1.2       0
300       144   193      141      3.4       0
301       130   131      115      1.2       0
302       130   236      174      0.0       0

[303 rows x 5 columns]

In [ ]:
y=data['target']
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [ ]:
data.drop(['target'],axis=1,inplace=True)
data

     trestbps  chol  thalach  oldpeak
0         145   233      150      2.3
1         130   250      187      3.5
2         130   204      172      1.4
3         120   236      178      0.8
4         120   354      163      0.6
..        ...   ...      ...      ...
298       140   241      123      0.2
299       110   264      132      1.2
300       144   193      141      3.4
301       130   131      115      1.2
302       130   236      174      0.0

[303 rows x 4 columns]

In [ ]:
data.isnull().sum()

trestbps    0
chol        0
thalach     0
oldpeak     0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   trestbps  303 non-null    int64
 1   chol      303 non-null    int64
 2   thalach   303 non-null    int64
 3   oldpeak   303 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 9.6 KB

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x=data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=25, shuffle =True)

In [ ]:
X_train.shape , X_test.shape ,y_test.shape,y_train.shape

((227, 4), (76, 4), (76,), (227,))

In [ ]:
x = (x - np.min(x)) / (np.max(x) - np.min(x)).values

In [ ]:
x

     trestbps      chol   thalach   oldpeak
0    0.481132  0.244292  0.603053  0.370968
1    0.339623  0.283105  0.885496  0.564516
2    0.339623  0.178082  0.770992  0.225806
3    0.245283  0.251142  0.816794  0.129032
4    0.245283  0.520548  0.702290  0.096774
..        ...       ...       ...       ...
298  0.433962  0.262557  0.396947  0.032258
299  0.150943  0.315068  0.465649  0.193548
300  0.471698  0.152968  0.534351  0.548387
301  0.339623  0.011416  0.335878  0.193548
302  0.339623  0.251142  0.786260  0.000000

[303 rows x 4 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
log = LogisticRegression()
log.fit(X_train, y_train)

# Predicting the Test set results
y_pred = log.predict(X_test)

In [ ]:
print('LogisticRegression Train Score is : ' , log.score(X_train, y_train))
print('LogisticRegression Test Score is : ' , log.score(X_test, y_test))

LogisticRegression Train Score is :  0.7577092511013216
LogisticRegression Test Score is :  0.7236842105263158

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[29, 17],
       [11, 43]])

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

0.28

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

0.28

In [ ]:
from sklearn.metrics import median_absolute_error
median_absolute_error(y_test, y_pred)

0.0

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average='micro')

0.72